.confirm_container {
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--bg-linear-color);
  display: flex;
}

.back {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.check-icons .inn-icons {
  font-size: 5rem;
  color: #00c853;
  margin-bottom: 1rem;
}

.e_message {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.btn2 {
  /* width: 98%; */
  height: 20px;
  padding: 20px;
  background: var(--bg-linear-color);

  font-size: 15px;
  line-height: 1px;
  border-radius: 10px;
  border-style: none;
  color: #fff;
  font-weight: 600;
  transition: all 400ms ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid #ffffff62;
  box-shadow: 1px 1px 4px 1px #187938, -1px -1px 4px 1px #004f1d96;
  margin: 1rem 2px;
}
.btn2:hover {
  background: var(--bg-linear-color2);
  color: #fff;
}

.c_illustrator {
  flex: 1;
  background-image: url("/path-to-your-illustration.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
